@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #212529;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px; /* Adjust padding for small screens */
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.navbar-brand img {
    height: 50px; /* Reduce size on smaller screens */
}

.user-name {
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.icons {
    font-size: 24px;
    color: #cbd1d6;
    margin-right: 5px;
}

.icon-buttons {
    display: flex;
    align-items: center;
}

.icon-buttons img.icon-img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.dropdown-menu {
    min-width: 180px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .nav-container {
        padding: 0 20px;
    }
    
    .user-name {
        font-size: 14px;
    }
    
    .navbar-brand img {
        height: 45px;
    }
    
    .icons {
        font-size: 20px;
    }
    
    .dropdown-menu {
        position: absolute;
        left: auto;
        right: 0;
    }
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .ml-auto {
        margin-top: 10px;
        flex-direction: column;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .dropdown-menu {
        width: 100%;
    }
}
